* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(227, 255, 250);

}

#root {
    display: flex;
    justify-content: center;
}

.continer {
    width: 70%;
    /* height: 100vh; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.header {
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.cards {
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    /* height: 70%; */
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    border: 1px black solid;
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* height: 20vh; */
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    gap: 15px;
}

.card:hover {
    transform: translateY(-3px);

}

.logo {
    width: 20%;
    border-radius: 15px;
}

.name {
    font-size: 30px;
    font-weight: 600;

}

.description {
    color: gray;
}

button {
    border-radius: 15px;
    height: 30px;
}

.butoon-blue {
    background-color: rgb(33, 107, 255);
}

.butoon-green {
    background-color: rgb(41, 219, 41);
}

.butoon-blue:hover {
    background-color: rgba(33, 107, 255, 0.601);
}

.butoon-green:hover {
    background-color: rgba(41, 219, 41, 0.571);
}

.footer{
    margin-bottom: 10px; 
}